@model IEnumerable<SiteVendas.Models.tb_produto>

@{
    var listaProdutos = ViewData["ListaProdutos"] as List<tb_produto>;
}

@*Exibicao carregamento do Triangulo*@
<div class="preloader">
    <div class="wrapper-triangle">
        <div class="pen">
            <div class="line-triangle">
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
            </div>
            <div class="line-triangle">
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
            </div>
            <div class="line-triangle">
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
            </div>
        </div>
    </div>
</div>

<h1>Todos Os Produtos</h1>

<br />

@*<div class="col-2 justify-content-center d-flex">*@
<div class="row">
    <div class=" row col-2 justify-content-center d-flex">

        <a class="btn " style="border: 2px solid rgb(96, 70, 182);font-family: Arial, sans-serif;" asp-controller="Home" asp-action="Index">Voltar ao Inicio</a>
        @*<a class="btn " style="border: 2px solid rgb(96, 70, 182);font-family: Arial, sans-serif;" asp-controller="Home" asp-action="Index"><b>Voltar ao Inicio</b></a>*@

    </div>
    <div class="col-2 justify-content-center d-flex">
        <a class=" btn btn-primary form-group;" asp-controller="Produto" asp-action="Cadastrar">Novo Produto</a>
    </div>
</div>

@*
<div class="row col-2">

    <a class=" btn btn-primary form-group" asp-controller="Produto" asp-action="Cadastrar">Novo Produto</a>

</div>*@


<br />

<h4>Produtos:</h4>

<br />




<table class="table text-center" id="myTable2">
    <thead>
        <tr>
            <th>
                Tipo
            </th>
            <th>
                Nome
            </th>
            <th>
                Descrição
            </th>
            <th>
                Tamanho
            </th>
            <th>
                Preço
            </th>
            <th>
                Disponibilidade
            </th>
            <th>
                Imagem
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in @listaProdutos)
        {
            <tr>
                <td class="align-middle">
                    @item.pd_tipo
                </td>
                <td class="align-middle">
                    @item.pd_nome
                </td>
                <td class="align-middle">
                    @item.pd_descricao
                </td>
                <td class="align-middle">
                    @item.pd_tamanho
                </td>
                <td class="align-middle">
                    @item.pd_preco.ToString("C2")
                </td>
                <td class="align-middle">
                    @if (item.pd_disponivel == true)
                    {
                        <p>Disponivel</p>
                    }
                    else
                    {
                        <p>Indisponivel</p>
                    }
                </td>
                <td class="align-middle">

                    <img width="160" height="100" src="data:image/png;base64,@Convert.ToBase64String(@item.pd_imagem)" />

                </td>

                <td class="align-middle">
                    
                    <a class="btn btn-info form-group" asp-controller="Produto" asp-action="EditarProduto" asp-route-_idProduto="@item.id_produto">Editar</a>
                    
                    <br/>
                    <br/>
                    
                    <button type="button" class="btn btn-danger form-group" data-toggle="modal" data-target="#myModal-@item.id_produto">Deletar</button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="myModal-@item.id_produto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">

                                    <h4 class="modal-title text-center" id="myModalLabel">Atenção!</h4>

                                    <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>

                                </div>
                                <div class="modal-body">

                                    Deseja Excluir Este Produto?

                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-default" data-dismiss="modal" style=" border: 2px solid  rgb(96, 70, 182);">Cancelar</button>

                                    @*<a class=" btn btn-primary form-group" asp-controller="Produto" asp-action="Cadastrar">Novo Produto</a>*@

                                    @* <a class=" btn btn-primary form-group" asp-controller="Produto" asp-action="DeletarProduto" asp-route-_idProduto="@item.id_produto">Excluir</a> *@

                                </div>
                            </div>
                        </div>
                    </div>

                </td>

            </tr>
        }
    </tbody>

</table>


@section Scripts {

    <script>
        $(document).cache(function () {
            $('#buscarProduto').DataTable({
                "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json" }
            });
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"></script>
    <script src="~/js/InputMasked.js"></script>
                                                                await Html.RenderPartialAsync("_ValidationScriptsPartial");

    <script>

        function removerSimboloR$() {
            var input = document.getElementById("cleave-dinheiro");
            var valorSemSimbolo = input.value.replace("R$ ", "").trim();
            input.value = valorSemSimbolo;
        }

    </script>

}


