@model IEnumerable<SiteVendas.Models.tb_produto>

<h1>Todos Os Produtos</h1>

<br />

<div class="col-2 justify-content-center d-flex">
    <div class="row">
        <a style="border: 2px solid  mediumslateblue;" asp-controller="Home" asp-action="Index">Voltar ao Inicio</a>
    </div>
</div>

<br />

<h4>Produtos:</h4>

<div class="row">

    <div class="row col-2">
        <a style="margin: 0 15px;" class="btn btn-primary " asp-area="" asp-controller="Produto" asp-action="Cadastrar">Novo Produto</a>
    </div>
</div>

<br />

<table class="table" id="myTable2">
    <thead>
        <tr>

            <th>
                Tipo
            </th>
            <th>
                Nome
            </th>
            <th>
                Descrição
            </th>
            <th>
                Tamanho
            </th>
            <th>
                Preço
            </th>
            <th>
                Disponibilidade
            </th>
            <th>
                Imagem
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.pd_tipo
                </td>
                <td>
                    @item.pd_nome
                </td>
                <td>
                    @item.pd_descricao
                </td>
                <td>
                    @item.pd_tamanho
                </td>
                <td>
                    @item.pd_preco.ToString("C2")
                </td>
                <td>
                    @if (item.pd_disponivel == true)
                    {
                        <p>Disponivel</p>
                    }
                    else
                    {
                        <p>Indisponivel</p>
                    }
                </td>
                <td>

                    <img width="180" height="100" src="data:image/png;base64,@Convert.ToBase64String(@item.pd_imagem)" />

                </td>

                <td>

                    <a class="btn btn-info">Editar</a>
                    <br />
                    <br />
                    <a class="btn btn-danger">Delete</a>

                </td>

            </tr>
        }
    </tbody>
</table>





@section Scripts {


    <script>
        $(document).ready(function () {
            $('#myTable2').DataTable({
                "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json" }
            });
        });
    </script>
}