@model SiteVendas.Models.tb_mensagens
@* @model IEnumerable
<SiteVendas.Models.tb_mensagens>
    *@

@{
    var quantidadeMensagens = ViewData["quantidadeMensagens"] as List
    <tb_mensagens>
        ;
}

@if (quantidadeMensagens != null)
{
    @if (quantidadeMensagens.Count() > 0)
    {
        <button
            data-toggle="modal"
            data-target="#ModalCarrinho"
            class="button button-xs button-secondary button-winona"
            href="#"
        >
            <span style="color: black"> @quantidadeMensagens.Count()</span>
            <span>
                <img src="~/images/new_message_30px.png">
            </span>
        </button>
        <!-- Modal Exibir Mensagens -->
        <div             class="modal"            id="ModalCarrinho"            tabindex="-1"            role="dialog"            aria-labelledby="myModalLabel"        >
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class=" d-flex justify-content-center">
                        <h4>
                            Mensagens
                            <img src="~/images/new_message_30px.png">
                        </h4>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-body row">
                            <table class="table text-center" id="myTable">
                                <thead>
                                    <tr>
                                        <th>
                                            Nome
                                        </th>
                                        <th>
                                            E-mail
                                        </th>
                                        <th>
                                            Serviço
                                        </th>
                                        <th>
                                            Data
                                        </th>
                                        <th>
                                            Visualizado
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in quantidadeMensagens)
                            {
                                    <tr>
                                        <td>
                                            @item.mg_nome
                                        </td>
                                        <td>
                                            @item.mg_email
                                        </td>
                                        <td>
                                            @item.mg_servico
                                        </td>
                                        <td>
                                            @item.mg_data
                                        </td>
                                        <td>
                                            <input type="checkbox" name="_idMensagem" value="@item.id_mensagem">
                                        </td>
                                        <td>
                                            <button onclick="passarIdMensagem(@item.id_mensagem)" class="btn button-secondary">Exibir</button>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class=" d-flex justify-content-end">
                        <button
                            type="button"
                            class="btn btn-default"
                            data-dismiss="modal"
                            style="border: 2px solid rgb(96, 70, 182);"
                        >Voltar</button>
                        <button data-dismiss="modal" type="submit" class="btn btn-primary d-flex justify-content-end">Confirmar</button>
                        <a></a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        }
}

@section Scripts {

    @*Layout da GridView*@
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"></script>
        <script src="~/js/InputMasked.js"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json" }
            });
        });
        </script>
        }
