@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<SiteVendas.Models.ViewModel.DetalhesPedidoViewModel>

@* @{
    var detalhePedido = ViewData["DetalhePedido"] as List<DetalhesPedidoViewModel>;
} *@


@*Exibicao carregamento do Triangulo*@
<div class="preloader">
    <div class="wrapper-triangle">
        <div class="pen">
            <div class="line-triangle">
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
            </div>
            <div class="line-triangle">
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
            </div>
            <div class="line-triangle">
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
            </div>
        </div>
    </div>
</div>

<h1>Cadastrar Cliente</h1>


<div class="col-2 justify-content-center d-flex ">
    <div class="row">
        <a style="border: 2px solid  rgb(96, 70, 182);" asp-controller="Pedidos" asp-action="TodosProdutos">Voltar</a>
    </div>
</div>

<br />

<h4>DADOS:</h4>

<form asp-controller="Cliente" asp-action="Inserir" method="post">

    @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@



    <div class="card">

        <div class="card-body">

@foreach (var item in Model)
{
    

            <div class="row">

                <div class="col-md-8">


                    <div class="form-group">

                        <label class="control-label">Nome</label>
                        @* <input asp-for="cliente.cc_nome" class="form-control" value= "@item.cliente.cc_nome" /> *@
                    <input class="form-control" value="@item.cliente.cc_nome">

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-md-3">

                    <div class="form-group">
                        <label class="control-label">CPF</label>
                        @* <input asp-for="cliente.cc_cpf" class="form-control"  /> *@
                        <input value="@item.cliente.cc_cpf" class="form-control"  />
                       
                    </div>

                </div>

                <div class="col-md-3">

                    <div class="form-group">
                        <label class="control-label">RG</label>
                        @* <input asp-for="cliente.cc_rg" class="form-control"  /> *@
                        <input class="form-control" value="@item.cliente.cc_rg">
                    </div>

                </div>

                <div class="col-3">

                    <div class="form-group">
                        <label class="control-label">Data Nascimento</label>
                        @* <input asp-for="cliente.cc_data_nascimento" class="form-control" type="text"/> *@
                        <input class="form-control" value="@item.cliente.cc_data_nascimento">
                
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-3">

                    <div class="form-group">
                        <label class="control-label">Telefone</label>
                        @* <input asp-for="cliente.cc_telefone" class="form-control"  /> *@
                        <input class="form-control" value="@item.cliente.cc_telefone">
                        
                    </div>

                </div>

                <div class="col-3">

                    <div class="form-group">
                        <label class="control-label">Celular</label>
                        @* <input asp-for="cliente.cc_celular" class="form-control"  /> *@
                      <input class="form-control" value="@item.cliente.cc_celular">
                    </div>

                </div>

            </div>

break;


}

        </div>
    </div>

    <br />

    <h4>ENDEREÇO:</h4>

    <div class="card">


@foreach (var item in Model)
{
    

        <div class="card-body">

            <div class="row">

                <div class="col-md-3">

                    <div class="form-group">
                        <label class="control-label">Tipo</label>

                        <input asp-for="@item.e" class="form-control"  />
                  <input value="@item.">
                  
                    </div>

                </div>

                <div class="col-2">

                    <div class="form-group">

                        <label class="control-label">CEP</label>
                        <input asp-for="@item.endereco.ed_cep" class="form-control" />
                        <label class="text-danger d-none" id="cleave-cep2">CEP Inválido</label>
                     
                    </div>

                </div>

                <div class="col-md-1">

                    <div class="form-group">
                        <label class="control-label">Estado</label>
                        <input asp-for="@item.endereco.ed_estado" class="form-control" />
                   

                    </div>

                </div>

                <div class="col-md-3">

                    <div class="form-group">
                        <label class="control-label">Cidade</label>
                        <input asp-for="endereco.ed_cidade" class="form-control"  />
                
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-md-3">

                    <div class="form-group">
                        <label class="control-label">Número</label>
                        <input asp-for="endereco.ed_numero" class="form-control" />
                    
                    </div>

                </div>

                <div class="col-md-3">

                    <div class="form-group">
                        <label class="control-label">Bairro</label>
                        <input asp-for="endereco.ed_bairro" class="form-control" />
                       
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="form-group">
                        <label class="control-label">Logradouro</label>
                        <input asp-for="endereco.ed_logradouro" class="form-control"/>
                     
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-md-6">

                    <div class="form-group">
                        <label class="control-label">Complemento</label>
                        <input asp-for="endereco.ed_complemento" class="form-control"/>
                    
                    </div>

                </div>

            </div>

        </div>


        break;
}
    </div>

    <br />

    <h4>ACESSO:</h4>

    <div class="card">

        <div class="card-body row">

            <div class="col-6">

                <div class="form-group">
                    <label class="control-label">E-mail</label>
                    <input asp-for="cliente.cc_email" class="form-control"  />
                 
                </div>

            </div>

            <div class="col-3">

                <div class="form-group">
                    <label class="control-label">Senha</label>
                    <input asp-for="cliente.cc_senha" class="form-control" 
                      type="password" />
                
                </div>

            </div>

            <div class="col-3">

                <div class="form-group">
                    <label class="control-label">Confirmar Senha</label>
                    <input asp-for="confirmarSenha" class="form-control" type="password" />
                    <label class="text-danger d-none" id="cleave-confirmarSenha1">Senha diferente</label>
                  
                </div>

            </div>

        </div>

    </div>

    <br />

    <div class="form-group">

        <input type="submit" value="Cadastrar" class="btn btn-primary" />

    </div>


</form>



@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"></script>
    <script src="~/js/InputMasked.js"></script>
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  
}

