@model IEnumerable<SiteVendas.Models.ViewModel.PedidosViewModel>

@{
    ViewData["Title"] = "Meus Pedidos";
}

<h1>Meus Pedidos</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@


<table class="table" id="myTable">
    <thead>
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.pedido.pd_quantidade )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pedido.pd_valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pedido.pd_data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.produto.id_produto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.produto.pd_despesa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.produto.pd_nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.produto.pd_tamanho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.produto.pd_preco)
        </th>





        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pedido.pd_quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pedido.pd_valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pedido.pd_data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.produto.id_produto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.produto.pd_despesa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.produto.pd_nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.produto.pd_tamanho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.produto.pd_preco)
                </td>



                 <td>
            <a asp-action="Edit" asp-route-id="@item.pedido.id_pedido">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.pedido.id_pedido">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.pedido.id_pedido">Delete</a>
            </td>

            </tr>
        }
    </tbody>
</table>
@section Scripts {


    <script>
        $(document).ready(function() {
            $('#myTable').DataTable();
        });
    </script>
}
