@model IEnumerable<SiteVendas.Models.ViewModel.PedidosViewModel>

@{
    ViewData["Title"] = "Meus Pedidos";
}

@*Exibicao carregamento do Triangulo*@
<div class="preloader">
    <div class="wrapper-triangle">
        <div class="pen">
            <div class="line-triangle">
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
            </div>
            <div class="line-triangle">
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
            </div>
            <div class="line-triangle">
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
            </div>
        </div>
    </div>
</div>




<h1>Meus Pedidos</h1>

<div class="col-2 justify-content-center d-flex ">
    <div class="row">
        <a style="border: 2px solid  rgb(96, 70, 182);" asp-controller="Home" asp-action="Index">Voltar ao Inicio</a>
    </div>
</div>

<br />

<h4>Meus Pedidos:</h4>

<br />

<table class="table text-center" id="myTable">
    <thead>
        <tr>

            <th>
                Nº Pedido
            </th>
            <th>
                Data do Pedido
            </th>
            <th>
                Valor Total
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.pedido.pd_numero_pedido
                </td>
                <td>
                    @item.pedido.pd_data.ToShortDateString()
                </td>
                <td>
                    @item.valorTotal.ToString("C2")
                </td>

                <td>

@if (User.IsInRole("Admin@hotmail.com"))
{
    

                    <a class="btn btn-info form-group"
                        href="@Url.Action("DetalhePedido", "Pedidos" , new {_numeroPedido= item.pedido.pd_numero_pedido})">Detalhes</a>
}
else
{

  <div class="button-wrap">
                                <a type="button" data-toggle="modal" data-target="#ModalDetalhe-@item.pedido.pd_numero_pedido"
                                    class="button button-xs button-secondary button-winona" href="#">Detalhes</a>
                            </div>





 <!-- Modal Detalher Pedido -->
                            <div class="modal" id="ModalDetalhe-@item.pedido.pd_numero_pedido" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            @* <h4 class="modal-title text-center" id="myModalLabel">@item.pd_nome</h4> *@

                                            <button type="button" class="btn btn-close" data-dismiss="modal"
                                                aria-label="Close">
                                                <span aria-hidden="true"></span>
                                            </button>

                                        </div>
                                        <div class="modal-body text-center">











<table>
  <tr>
    <td>Nome</td>
    <td>Idade</td>
  </tr>
  <tr>
    <td>@item.pedido.pd_numero_pedido</td>
    <td>@item.pedido.pd_quantidade</td>
  </tr>
</table>



































                                        </div>
                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                                style="border: 2px solid rgb(96, 70, 182);">
                                                Voltar
                                            </button>

                                            <button class=" btn btn-primary form-group"
                                                @* onclick="passarParametro(@item.id_produto)" type="submit" *@
                                                id="passarParametros">Adicionar no Carrinho</button>

                                        </div>
                                    </div>
                                </div>
                            </div>










   @* <a class="btn btn-info form-group"
                        href="@Url.Action("DetalhePedido", "Pedidos" , new {_numeroPedido= item.pedido.pd_numero_pedido})">Detalhes</a> *@
}

                </td>
            </tr>
        }
    </tbody>
</table>












@section Scripts {

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json" }
            });
        });
    </script>
}
