@model IEnumerable<SiteVendas.Models.ViewModel.PedidosViewModel>

@{
    ViewData["Title"] = "Meus Pedidos";
}

<h1>Meus Pedidos</h1>

<div class="col-2 justify-content-center d-flex ">
    <div class="row">
        <a style="border: 2px solid  mediumslateblue;" asp-controller="Home" asp-action="Index">Voltar ao Inicio</a>
    </div>
</div>

<br/>

<h4>Meus Pedidos:</h4>

<br/>

<table class="table text-center" id="myTable">
    <thead>
        <tr>

            <th>
                Nº Pedido
            </th>
            <th>
                Data do Pedido
            </th>
            <th>
                Produto
            </th>
            <th>
                Tamanho/Dimenção
            </th>
            <th>
                Qtd.
            </th>
            <th>
                Preço Und.
            </th>
            <th>
                Valor Total
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.pedido.id_pedido
                </td>
                <td>
                    @item.pedido.pd_data.ToShortDateString()
                </td>
                <td>
                    @item.produto.pd_nome
                </td>
                <td>
                    @item.produto.pd_tamanho
                </td>
                <td>
                    @item.pedido.pd_quantidade
                </td>
                <td>
                    @item.produto.pd_preco.ToString("C2")
                </td>
                <td>
                    @item.pedido.pd_valor.ToString("C2")

                </td>

                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.pedido.id_pedido">Edit</a> |*@
                    @*<a asp-action="Details" asp-route-id="@item.pedido.id_pedido">Details</a> |*@
                    @*<a asp-action="Delete" asp-route-id="@item.pedido.id_pedido">Delete</a>*@
                </td>

            </tr>
        }
    </tbody>
</table>


@section Scripts {


    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json" }
            });
        });
    </script>
}
