@using SiteVendas.Models.ViewModel

@{
    var quantiadeProduto = ViewData["quantidadePedidos"] as List<CarrinhoViewModel>;
}

@if (quantiadeProduto != null)
{
    @if (quantiadeProduto.Count() > 0)
    {
        @*
    <a
        type="button"
        data-toggle="modal"
        data-target="#ModalCarrinho"
        class="button button-xs button-secondary button-winona"
        href="#"
    >
        <span style="color: black"> @quantiadeProduto.Count()</span>
        <span>
            <img src="~/images/shopping_cart_30px.png">
        </span>
    </a>
    *@
        <button data-toggle="modal" data-target="#ModalCarrinho" class="button button-xs button-secondary button-winona" href="#">

            <span style="color: black"> @quantiadeProduto.Count()</span>
            <span>
                <img src="~/images/shopping_cart_30px.png">
            </span>
        </button>
        <!-- Modal Adicionar Carrinho -->
        <div class="modal" id="ModalCarrinho" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                @*
        <div class="modal-dialog modal-dialog-centered" role="document">
        *@
                <div class="modal-content">
                    <div class=" d-flex justify-content-center">
                        <h4>
                            Meu Carrinho
                            <img src="~/images/shopping_cart_30px.png">
                        </h4>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-body row">
                            <table class="table text-center" id="myTable">
                                <thead>
                                    <tr>
                                        <th>
                                            Nº Pedido
                                        </th>
                                        <th>
                                            Qtd.
                                        </th>
                                        <th>
                                            Valor Unt.
                                        </th>
                                        <th>
                                            Valor Total
                                        </th>
                                        <th>
                                            Nome
                                        </th>
                                        <th>
                                            Tamanho
                                        </th>
                                        <th>
                                            Imagem
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        decimal somarValoresCarrinho = 0;
                                    }

                                    @foreach (var item in quantiadeProduto)
                                    {
                                        if (item.isValido == true)
                                        {
                                            somarValoresCarrinho += @item.valorTotal;
                                            <tr>
                                                <td>
                                                    @item.numeroPedido
                                                </td>
                                                <td>
                                                    @item.quantidade
                                                </td>
                                                <td>
                                                    @item.valorUnitario.ToString("C2")
                                                </td>
                                                <td>
                                                    @item.valorTotal.ToString("C2")
                                                </td>
                                                <td>
                                                    @item.nome
                                                </td>
                                                <td>
                                                    @item.tamanho
                                                </td>
                                                <td>
                                                    <img alt="" width="100" height="100" src="data:image/png;base64,@Convert.ToBase64String(@item.imagem)">
                                                </td>
                                                <td>
                                                    <a onclick="confirmarExclusao(@item.idPedido)" type="button" class="btn btn-default" href="#">
                                                        <span style="color: black"></span>
                                                        <span><img src="~/images/trash_30px.png"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <h6>
                                                <b>Total:</b>
                                            </h6>
                                        </td>
                                        <td>
                                            <h6>
                                                <b>@somarValoresCarrinho.ToString("C2")</b>
                                            </h6>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div class=" d-flex justify-content-end">

                        <button class="btn btn-Secundario" data-dismiss="modal">Voltar</button>

                        <button style="margin: 0 15px;" class="btn btn-primary" onclick="FinalizarPedido()">Finalizar Pedido</button>

                    </div>
                    <br>
                </div>
            </div>
        </div>

    }
}

@section Scripts {

    @*Layout da GridView*@
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json" }
            });
        });
    </script>


}


