@using SiteVendas.Models.ViewModel
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<SiteVendas.Models.tb_cadastro_cliente>

@{
    ViewData["Title"] = "ExibirClientes";
}

@*Exibicao carregamento do Triangulo*@
<div class="preloader">
    <div class="wrapper-triangle">
        <div class="pen">
            <div class="line-triangle">
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
            </div>
            <div class="line-triangle">
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
            </div>
            <div class="line-triangle">
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
            </div>
        </div>
    </div>
</div>

<h1>Clientes</h1>

<button class="btn btn-Secundario" onclick="VoltarAoInicio()">Voltar ao Inicio</button>

<br />
<br />

<h4>Meus Clientes:</h4>

<br />

  <div class="card">
       <div class="card-body">

        <table class="table text-center" id="myTable4">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                CPF
            </th>
            <th>
                Data Nascimento
            </th> <th>
               E-mail
            </th>
            <th>
                Telefone
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.cc_nome
                </td>
                <td>
                    @item.cc_cpf
                </td>
                <td>
                    @item.cc_data_nascimento
                </td>
                <td>
                    @item.cc_email
                </td><td>
                    @item.cc_telefone
                </td>
                <td>
                   <a class="btn btn-info form-group"
                        href="@Url.Action("DetalheCliente", "Cliente" , new {_idCliente = item.id_cadastro_cliente})">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>
  </div>
  </div>
<br/>

<div class="col-2 justify-content-center d-flex ">
    <div class="row">
       <button class="btn btn-primary" onclick="VoltarAoInicio()">Voltar ao Inicio</button>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#myTable4').DataTable({
                "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json" }
            });
        });
    </script>

    <script>
        function VoltarAoInicio(){
        $.ajax({
            success: function(){
                      window.location.href = "/Home/Index";
            }, error: function (xhr, status, error) {
                    console.log("Ocorreu um erro durante a requisição AJAX: " + error);
            }
        });
    }
   </script>

    @*Passando parametros para inserir na minha tabela de pedidos*@
    <script>
        function passarParametro(_idProduto1) {

            var modal = `#ModalDetalhe-${_idProduto1}`;

            $.ajax({
                type: "GET",
                url: "/Pedidos/BuscarDetalhesPedido/",
                data: { _numeroPedido: _idProduto1 },
                success: function (data) {

                    // Aqui você pode manipular a resposta da requisição AJAX
                    console.log(data);

                    $(modal).modal('show');
                    @* $(modal).modal('hide'); *@

                    @* location.reload(); *@
                    },
                error: function (xhr, status, error) {
                    // Aqui você pode tratar os erros que ocorrem durante a requisição AJAX
                    console.log("Ocorreu um erro durante a requisição AJAX: " + error);
                }
            });
        }
    </script>
}

